html, body {
      height: 100%;
      font-weight:normal;
}
body {
     width: 100%;
     height: 100%;
     background-image: url(../res/img/bg.png);
     -webkit-transition: background-color 2s ease-in;
      margin: 0;
      padding: 0;
      overflow-y: scroll;
}
a{
  text-decoration: none;
}
.all::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px #e40613;
  background-color: #e40613;
  border-radius: 0px;
}
.all::-webkit-scrollbar
{
  width: 0px;
  background-color: #e40613;
}
.all::-webkit-scrollbar-thumb
{
  border-radius: 0px;
  background-image: -webkit-gradient(linear,
                     left bottom,
                     left top,
                     color-stop(0.30, rgb(228,6,19)),
                     color-stop(0.50, rgba(228,6,19,1)),
                     color-stop(0.70, rgb(228,6,19)));
}
.mynav{
   position: absolute;
   top: 0px;
   width: 100%;
   height: 45px;
   z-index: 40;
   border-bottom-width: 0.5px;
   border-bottom-color: #fff;
   border-bottom-style: solid;
}
.aboutme{
   position: absolute;
   z-index: 80;
   margin-top: 400px;
   width: 100%;
   height: 255px;
}
.grad1{
   position: absolute;
   z-index: 80;
   margin-top: 650px;
   height: 2px;
   width: 100%;
   background: linear-gradient(to right,
                               rgba(255,255,255,0), 
                               rgba(247,0,0,1), 
                               rgba(255,255,255,0));
}
.mytop a.mylink{
  font-size: 18px;
  color: #fff;
  display:block;
  float:right;
  margin-top: 5px;
  margin-right: 15px;
  margin-left:20px; 
  width:60px;
  height:40px;
  line-height: 40px;
  text-align:center;
}
.mytop a.mylink:hover{
  color: #ff0;
}
.comment{
  position: absolute;
  width: 100%;
  margin-top: 700px;
  text-align:center;
}
.action{
  width: 1026px;
  clear:both;
  margin:0 auto;
  text-align:center;
  padding: 10px 10px;
}
.ac{
  float: left;
  width: 300px;
  height: 450px;
  margin: 0px 20px;
  border-radius: 10px;  
  text-align:center;
}
.action1{
  border:1px solid #e40613;
}
.action2{  
  border:1px solid #33cc99;
}
.action3{  
  border:1px solid #666699;
}
.content{
  padding: 30px 30px;
  font-size: 18px;
  letter-spacing: 1px;
  color: #888;
}
.ame{
  padding: 0px 30px;
  font-size: 18px;
  letter-spacing: 1px;
  color: #888;
  text-align: center;
}
.footer{
   z-index: 1000;
   position: absolute;
   width: 100%;
   margin-top: 1250px;
   height: 50px;
   background-color: #e40613;
}
.theicon{
  padding: 30px 0px;
  margin: 0 auto;
}
.theicon img{
  width: 50px;
  height: 50px;
}